.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 40px;
  }

  &__nav {
    display: none;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

    transition: background 0.3s, color 0.3s;
  }

  &__link {
    color: inherit;
  }
}

@media screen and (hover: hover) {
  .header {
    &__item:hover {
      cursor: pointer;
      color: #fff;
      background-color: green;
    }
  }
}

@media screen and (hover: none) {
  .header {
    &__item:active {
      user-select: none;
      color: #fff;
      background-color: green;
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .header {
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 50px;

      transition: background 0.3s, color 0.3s;
    }
  }
}
